@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
[class*="col-"]{
    padding: 15px;
    box-sizing: border-box;
}
.col-1{width: 0 0 8.33%; max-width: 8.33%;}
.col-2{width: 0 0 16.66%; max-width: 16.66%;}
.col-3{width: 0 0 25%; max-width: 25%;}
.col-4{width: 0 0 33.33%; max-width: 33.33%;}
.col-5{width: 0 0 41.66%; max-width: 41.66%;}
.col-6{width: 0 0 50%; max-width: 50%;}
.col-7{width: 0 0 58.33%; max-width: 58.33%;}
.col-8{width: 0 0 66.66%; max-width: 66.66%;}
.col-9{width: 0 0 75%; max-width: 75%;}
.col-10{width: 0 0 83.33%; max-width: 83.33%;}
.col-11{width: 0 0 91.66%; max-width: 91.66%;}
.col-12{width: 0 0 100%; max-width: 100%;}

/* Breakpoints */
@media (min-width: 576px) {
    .col-sm-6 {flex: 0 0 50%; max-width: 50%;}
}
@media (min-width: 768px) {
    .col-md-4 {flex: 0 0 33.33%; max-width: 33.33%;}
}
@media (min-width: 992px) {
    .col-lg-3 {flex: 0 0 25%; max-width: 25%;}
}
@media (min-width: 1200px) {
    .col-xl-2 {flex: 0 0 16.66%; max-width: 16.66%;}
}
@media (min-width: 1400px) {
    .col-xxl-1 {flex: 0 0 8.33%; max-width: 8.33%;}
}

:root{
    --color-primary: #FFE4B5;
    --color-secondary: #1E3A8A;
    --color-accent: #FF4500;

    --color-neutral-light: #F3F4F6;
    --color-neutral-dark: #111827;

    --color-success: #E6E6FA;
    --color-error: 	#8B0000;
    --color-warning: #FFD700;
    --color-info: 	#8B4513;

    --font-family-base: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    --font-family-heading: 'Poppins', 'sans-serif';
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
    --font-size-body: 1rem;
}

